Repository realworld-spring/spring-boot, pull requests merged in 2023-10, with the labels that each got.

#22 [Feature] 아티클 피드 조회 구현, 아티클에 프로필 추가
  http/article.http
  http/http-client.env.json
  src/main/java/real/world/config/WebMvcConfig.java
  src/main/java/real/world/domain/article/controller/ArticleController.java
  src/main/java/real/world/domain/article/dto/response/ArticleResponse.java
  src/main/java/real/world/domain/article/dto/response/ArticlesApiResponse.java
  src/main/java/real/world/domain/article/query/ArticleQueryRepository.java
  src/main/java/real/world/domain/article/query/ArticleQueryRepositoryImpl.java
  src/main/java/real/world/domain/article/query/ArticleView.java
  src/main/java/real/world/domain/article/service/ArticleQueryService.java
  src/main/java/real/world/domain/global/Page.java
  src/main/java/real/world/domain/global/PageArgumentResolver.java
  src/main/java/real/world/domain/profile/query/Profile.java
  src/main/java/real/world/domain/profile/query/ProfileQueryRepository.java
  src/main/java/real/world/domain/profile/query/ProfileQueryRepositoryImpl.java
  src/main/java/real/world/error/exception/RequestInvalidException.java
  src/main/resources/application-data-local.yml
  src/main/resources/application-web-local.yml
  src/test/java/real/world/domain/article/controller/ArticleControllerTest.java
  src/test/java/real/world/fixture/ArticleFixtures.java
Labels: enhancement

#23 [Test] Profile test 작성
  build.gradle
  src/main/java/real/world/domain/follow/service/FollowService.java
  src/main/java/real/world/domain/user/service/UserService.java
  src/test/java/real/world/domain/follow/service/FollowServiceTest.java
  src/test/java/real/world/domain/profile/query/ProfileQueryRepositoryTest.java
  src/test/java/real/world/domain/profile/service/ProfileQueryServiceTest.java
  src/test/java/real/world/e2e/E2ETest.java
  src/test/java/real/world/e2e/ProfileE2ETest.java
  src/test/java/real/world/e2e/util/DBInitializer.java
  src/test/java/real/world/fixture/FollowFixtures.java
  src/test/java/real/world/support/QueryRepositoryTest.java
  src/test/java/real/world/support/TestSecurityConfig.java
  src/test/resources/application.yml
Labels: test, chore

#26 [Test] ProifleQueryRepository 테스트 작성
  http/profile.http
  src/main/java/real/world/domain/profile/query/Profile.java
  src/main/java/real/world/domain/profile/query/ProfileQueryRepositoryImpl.java
  src/test/java/real/world/domain/profile/query/ProfileQueryRepositoryTest.java
  src/test/java/real/world/e2e/util/DBInitializer.java
  src/test/java/real/world/fixture/FollowFixtures.java
Labels: refactor, test

#28 [Test] Article 다중 조회 테스트 작성
  src/main/java/real/world/domain/article/service/ArticleQueryService.java
  src/test/java/real/world/domain/article/controller/ArticleControllerTest.java
  src/test/java/real/world/domain/article/query/ArticleQueryRepositoryTest.java
  src/test/java/real/world/domain/article/service/ArticleQueryServiceTest.java
  src/test/java/real/world/domain/profile/query/ProfileQueryRepositoryTest.java
  src/test/java/real/world/fixture/ArticleFixtures.java
  src/test/java/real/world/fixture/UserFixtures.java
  src/test/java/real/world/support/QueryRepositoryTest.java
  src/test/resources/application.yml
Labels: test

#31 [Feature] 좋아요, 좋아요 취소 구현
  http/article.http
  src/main/java/real/world/domain/article/controller/ArticleController.java
  src/main/java/real/world/domain/article/controller/FavoriteController.java
  src/main/java/real/world/domain/article/dto/response/MultipleArticleApiResponse.java
  src/main/java/real/world/domain/article/entity/Favorite.java
  src/main/java/real/world/domain/article/repository/FavoriteRepository.java
  src/main/java/real/world/domain/article/service/FavoriteService.java
  src/main/java/real/world/error/ErrorCode.java
  src/main/java/real/world/error/exception/AlreadyFavoriteException.java
  src/main/java/real/world/error/exception/FavoriteNotFoundException.java
  src/test/java/real/world/domain/article/controller/FavoriteControllerTest.java
  src/test/java/real/world/domain/article/service/FavoriteServiceTest.java
  src/test/java/real/world/fixture/ArticleFixtures.java
Labels: enhancement, test

#29 [Feature] comment api 작성
  http/comment.http
  http/http-client.env.json
  src/main/java/real/world/config/SecurityConfig.java
  src/main/java/real/world/domain/comment/controller/CommentController.java
  src/main/java/real/world/domain/comment/dto/request/CommentRequest.java
  src/main/java/real/world/domain/comment/dto/response/CommentApiResponse.java
  src/main/java/real/world/domain/comment/dto/response/CommentResponse.java
  src/main/java/real/world/domain/comment/dto/response/MultipleCommentApiResponse.java
  src/main/java/real/world/domain/comment/entity/Comment.java
  src/main/java/real/world/domain/comment/query/CommentQueryRepository.java
  src/main/java/real/world/domain/comment/query/CommentQueryRepositoryImpl.java
  src/main/java/real/world/domain/comment/query/CommentView.java
  src/main/java/real/world/domain/comment/repository/CommentRepository.java
  src/main/java/real/world/domain/comment/service/CommentQueryService.java
  src/main/java/real/world/domain/comment/service/CommentService.java
  src/main/java/real/world/error/ErrorCode.java
  src/main/java/real/world/error/exception/CommentNotFoundException.java
  src/main/java/real/world/error/exception/CommentUnauthorizedException.java
  src/main/java/real/world/security/jwt/JwtAuthenticationFilter.java
  src/main/java/real/world/security/support/OptionalRequest.java
Labels: enhancement, question, refactor
